<div class="wrapper wrapper_padding clearfix">
        <div class="col-1 about homepage_content">
            <h2>About</h2>
            <hr>
            <p>Hello , My name Saud Maruli Sihombing.</p> 
            <p>I’m web and mobile developer living in indonesia - Jakarta.</p>
            <p>By day i work a front-end dev at slimdev. by night i teach to design my game at
                 <a href="#">rocketbrain</a>.</p>
            <p>You can find me speaking in 140 character on Twitter and sharing on Github
        </div>
        <div class="col-2 homepage_content">
            <h2>Stuff I've Written</h2>
            <hr>

            <% @posts.each do |post|%>
                <h3><a href="#"><%= link_to post.title, post %></a></h3></h3>
                <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
            <% end %>
        </div>

        <div class="col-3 homepage_content">
            <h2>Stuff I've Built</h2>
            <hr>
            <h3><a href="#">Rocketbrain</a></h3>
            <p class="date">Friday April 10th</p>
        </div>
        
    </div>