<div class="wrapper wrapper_padding clearfix">
        <div class="col-1 about homepage_content">
            <h2>About</h2>
            <hr>
            <p>
                Hello , My name Maya Apriliana Pertiwi,
                I am trainer and traveler. 
            </p>
            <p>
                By day i work Trainer, Motivator And Coach at 
                <a href="http://career.huawei.com/socRecruitment/soc_index.html#soc/pages/home/socHome.html">
                Huawei Smartphone
                </a>
                and a freelance trainer in several companies.
            </p>
            <p>You can find me speaking in 140 character on Twitter.</p>

            <a class="twitter-timeline" href="https://twitter.com/maya_tiwi?ref_src=twsrc%5Etfw">
            Tweets by sauthrully
            </a> 
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        
        </div>
        <div class="col-2 homepage_content">
            <h2>Stuff I've Written</h2>
            <hr>

            <% @posts.each do |post|%>
                <h3><a href="#"><%= link_to post.title, post %></a></h3></h3>
                <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
            <% end %>
        </div>

        <div class="col-3 homepage_content">
            <h2>Stuff I've Built</h2>
            <hr>
            <% @projects.each do |project| %>
                <h3><a href="#"><%= link_to project.title, project %></a></h3>
                <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
            <% end %>
	    </div>
        
    </div>